In [ ]:
x = "PYTHON"
for i in x:
    print(i)

In [ ]:
story = "Once upon a time..."
for char in story:
    print(char, end=' ')

In [ ]:
names = ['Alice', 'Bob', 'Charlie','David', 'Eve', 'Frank']
for name in names:
    print(name, len(name))

In [ ]:
len(names[2])

#### wap to calcuate the total of all numbers from 1 to 50

In [ ]:
total = 0
for i in range(1,51):
    total += i
print(total)

#### wap to add all numbers that are divisible by 3 ranging from 1 to 100

In [ ]:
total = 0
for i in range(1,100):
    if i % 3 == 0:
        total += i
print(total)

In [ ]:
total = 0
for i in range(3,100,3):
    total += i
print(total)

#### wap to calculate the average(mean) of all numbers from 1 to 100

In [ ]:
total = 0
for i in range(1,100):
    total += i
mean = total / 99 
print(mean)

break

In [ ]:
data = [1,2,3,4,5,6,-1,7,8,9,10]

for val in data:
    if val < 0:
        break
    print(val,end=' ')

In [ ]:
for i in range(1,100):
    print(i)
    if i % 8 == 0:
        break

In [ ]:
size = 100
start = 1

while start <= size:
    name = input("enter a name of product")
    if name == "end":
        break
    print(f"you entered {name}")
    start+=2
print("the end")

In [ ]:
names= ['Alice', 'Bob','', 'Charlie','','David','','','Eve', 'Frank']
print(len(names))

In [ ]:
for name in names:
    print(f'i know {name}')

In [12]:
for name in names:
    if name == '':
        continue
    print(f'i know {name}')

i know Alice
i know Bob
i know Charlie
i know David
i know Eve
i know Frank

In [13]:
for name in names:
    if len(name) > 0:
        print(f'i know {name}')

i know Alice
i know Bob
i know Charlie
i know David
i know Eve
i know Frank

In [19]:
story = ""
while True:
    line = input("enter a line")
    if line == "end": 
        break
    else:
        story += line + "\n"
print("you have written")
print(story)

you have written
the end has no beginning
and thus the story ends

In [17]:
print(story)

Once upon a time
There was a person
who lived near the river
the river was not clean
so he drank the water only after filtering it

In [21]:
fruits = ['apple', 'banana', 'cherry', 'date', 'eggplant']

for fruit in fruits:
    print(fruit)
    if fruit == 'cherry':
        break
else:
    print('all fruits are listed')

apple
banana
cherry

In [28]:
number = int(input('enter a number'))
for i in range(2,number):
    if number % i == 0:
        print(f'{number} is not a prime number')
        break
else:
    print(f'{number} is a ðŸ‘‘ prime number')

4 is not a prime number

##### wap a to add all numbers of the digit using while loop
ex: 1234 becomes 10